
# Ignore unnecessary files for EAS Build
android/local.properties
**/local.properties
local.properties
.git
node_modules/
.expo/
dist/
web-build/
*.jks
*.keystore
*.p12
*.pem
*.mobileprovision
*.orig.*
.DS_Store
npm-debug.*
yarn-debug.*
yarn-error.*
.metro-health-check*
android/
ios/
.env*.local
android/.gradle/
android/app/build/
android/build/
ios/build/
ios/Pods/
